.outer{
    width: 500px;
    height: 500px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 50%;
}
.inner-one{
    width: 500px;
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: end;
}
/**.inner-two{
    width: 500px;
    height: 200px;
    background-color: aqua;
}